* {
    box-sizing: border-box;
}


body {
    font-family: "Montserrat",
        sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea,
button {
    font-family: inherit;
    margin: 0;
}

/* ===================Standard Style Reset====================== */

.form {
    display: flex;
    padding: 36px 535px 0 535px;
    margin-bottom: 32px;
}

.input {
    border-radius: 4px;
    width: 272px;
    height: 40px;
    background: #fff;
    margin-right: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #422e2e;
    padding: 8px 16px;
    border: 1px solid #808080;
}

.input:hover {
    border: 1px solid #2E2F42;
    background-color: #FFFFFF;
    fill: #4E75FF;
}

.input:active {
    border: 1px solid #4E75FF;
    background-color: #FFFFFF;
}

.btn-search {
    display: inline-flex;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    background: #4e75ff;
    color: #FFFFFF;
}

.btn-search:hover {
    background: #6c8cff;
}

.gallery {
    width: 1440px;
    padding: 0 30px 36px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin: 0 auto;
    background: #fff;
    user-select: none;
}

.gallery-item {
    width: calc((100% - 100px) / 5);
}

.gallery-link {
    display: inline-block;
    border: 1px solid #808080;
}

.gallery-image {
    width: 324px;
    height: 180px;
    /* transition: transform 250ms ease-in-out; */
}

/* .gallery-image:hover {
    transform: scale(1.04);
} */

.image-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-top: 4px;
}

.item-quantity {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.loader {
    display: block;
    width: 96px;
    box-sizing: content-box;
    height: 48px;
    background: #FFF;
    border-color: #de3500;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
    animation: 3s yinYang linear infinite;
    margin: 0 auto;
}

.is-hidden {
    display: none;
}

.loader:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #FFF;
    border: 18px solid #de3500;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}

.loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #de3500;
    border: 18px solid #FFF;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}

@keyframes yinYang {
    100% {
        transform: rotate(360deg)
    }
}